.btn {
  width: 23rem;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: $text-color;
  background: #e9e9fd;
  box-shadow: 3px 6px 1px rgba(66, 232, 224, 0.45);
  border-radius: 8px;
  transition: transform 0.2s linear;

  &:hover {
    transform: translateY(-3px);
  }

  &:active {
    transform: scale(0.95);
  }
}
