.siema {
  &--iphone {
    width: 32rem;
    height: 63.5rem;

    .slide {
      position: relative;
      top: 2.5rem;
      left: 2rem;
      width: 28rem;
      height: 52rem;

      &--1 {
        background: url('../public/sliders/iphone-slide-1.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &--2 {
        background: url('../public/sliders/iphone-slide-2.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &--3 {
        background: url('../public/sliders/iphone-slide-3.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }

  &--mac {
    width: 100%;
    height: 49rem;

    .slide {
      position: relative;
      width: 100%;
      height: 38.5rem;
      top: 3.9rem;
      left: 0rem;

      &--1 {
        background: url('../public/sliders/mac-slide-1.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &--2 {
        height: 38.7rem;
        background: url('../public/sliders/mac-slide-2.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    @include respond(phone) {
      .slide {
        width: 85%;
        margin: 0.4rem auto 0;
      }
    }

    @include respond(tab-port) {
      height: 51rem;
      background-repeat: no-repeat;
      background-size: contain;

      .slide {
        top: 4.9rem;

        &--2 {
          top: 4.7rem;
        }
      }
    }
  }

  &-dots {
    position: relative;
    top: -2.5rem;
    max-width: 19rem;
    margin-left: auto;

    .dots__item {
      padding: 0;
      margin: 0.7rem;
      width: 0.9rem;
      height: 0.94rem;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #fff;
      transition: all 0.2s linear;
      outline: none;
      cursor: pointer;

      &--active {
        background-color: #fff;
      }
    }

    @include respond(phone) {
      display: flex;
      justify-content: center;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
