.form {
  max-width: 27rem;

  &__heading {
    display: inline-block;
    position: relative;
    top: 1.8rem;
    left: 2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: 1.6rem;
    line-height: 14px;
    font-weight: 400;
    color: #73708f;
    background: #eeeffd;
    z-index: 11;
  }

  .row {
    position: relative;
    flex-wrap: nowrap !important;

    input {
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    }
  }

  &__input {
    padding: 1.1rem 1.5rem;
    font-size: 1.6rem;
    border: 1.2px solid #3d419a;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: none;

    &::placeholder {
      font-weight: 400;
      color: #adabc8;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
  }

  &__btn {
    width: 64px;
    height: 54px;
    position: relative;
    border: 1.2px solid #3d419a;
    background: #3d419a;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
  }

  .arrow-icon {
    position: absolute;
    top: 1.4rem;
    right: 2.3rem;
    width: 2.9rem;
    height: 1.9rem;
    background: url('../public/icons/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  @include respond(tab-port) {
    max-width: 34rem;

    &__input {
      width: 76%;
    }
  }
}
