body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  line-height: 3.2rem;
}

// Sizing
.section-heading {
  text-align: center;
}

.heading {
  font-size: 3.6rem;
  line-height: 4.2rem;

  &--small {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.8rem;
  }
}

.medium {
  font-size: 1.6rem;
}

.small {
  font-size: 1.4rem;
}

// Style
.italic {
  font-style: italic;
}

// Colors
.light-purple {
  color: $light-purple-color;
}

.white {
  color: #fff;
}
