.section-hero {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: radial-gradient(
    1212.67px at 12.8% -49.02%,
    #2b237c 0%,
    #251c72 31%,
    #0f054c 100%
  );

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__preheading {
    max-width: 32rem;
    margin-bottom: 1.2rem;
    line-height: 1.8rem;
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 6.5rem;
    font-size: 6.4rem;
    font-weight: 500;
  }

  &__subheading {
    max-width: 40rem;
    line-height: 2.9rem;
  }

  &__image {
    max-width: 70rem;
    height: auto;
    margin-right: auto;
  }

  @include respond(tab-port) {
    &__image {
      max-width: 100%;
      height: auto;
    }
  }

  @include respond(phone) {
    text-align: center;

    .section-hero__heading {
      margin-bottom: 5rem;
    }

    .section-hero__preheading,
    .section-hero__subheading,
    .btn {
      margin: 1rem auto;
    }
  }
}

.section-introduction {
  padding: 13.5rem 0;

  .section-heading {
    margin-bottom: 9rem;
  }

  &__text {
    max-width: 69rem;

    .heading {
      margin-top: 0;
      margin-bottom: 4.1rem;
    }

    p:not(.heading) {
      max-width: 67rem;
    }
  }

  &__image {
    display: block;
    max-width: 41.5rem;
    height: auto;
    margin-left: auto;
  }
}

.section-problem {
  padding: 7.5rem 0;
  background-color: $light-purple-background;

  .heading {
    max-width: 110rem;
    margin-top: 0;
    margin-bottom: 4rem;
  }

  &__feature {
    p {
      position: relative;
      max-width: 85%;
      margin-left: auto;

      &::before {
        position: absolute;
        top: 1.4rem;
        left: -15%;
        width: 3rem;
        height: 2.8px;
        background-color: #05012f;
        content: '';
      }
    }
  }
}

.section-solution {
  padding: 13rem 0 11.4rem;

  &__text {
    .heading {
      margin-top: 0;
      margin-bottom: 4.3rem;
    }

    p:not(.heading) {
      max-width: 58rem;
    }
  }

  &__image {
    display: block;
    max-width: 57rem;
    height: auto;
    margin-left: auto;
  }
}

.section-cases {
  padding-bottom: 13.5rem;

  &__feature {
    max-width: 93%;
    height: 37rem;
    margin: auto;
    margin-bottom: 4.9rem;
    padding: 3.8rem 3rem;
    background: #1e1864;
    box-shadow: 4px 6px 4px rgba(61, 65, 154, 0.3);
    border-radius: 14px;
    transition: all 0.2s linear;

    .heading {
      margin-top: 0;
      margin-bottom: 2.1rem;
      font-size: 2.25rem;
    }

    p:not(.heading) {
      max-width: 31rem;
    }

    &--first {
      margin-left: 0;
    }

    &--last {
      margin-right: 0;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 4px 6px 4px rgba(61, 65, 154, 0.5);
    }

    @media screen and (max-width: 1020px) {
      margin: 1rem;

      &--first,
      &--last {
        margin: 1rem;
      }
    }
  }

  &__icon {
    max-width: 8.6rem;
    height: auto;
    margin-bottom: 3.6rem;
  }
}

.section-individuals {
  padding: 13rem 0 20rem;
  background-color: $purple-background;

  .heading:first-of-type {
    margin-bottom: 7rem;
  }

  &__text {
    .heading {
      margin-top: 0;
      margin-bottom: 3.9rem;
    }
  }

  &__features {
    margin-top: 10rem;

    p {
      max-width: 34rem;
    }
  }

  &__slider {
    .siema {
      margin-left: auto;
    }
  }

  @include respond(tab-port) {
    &__slider {
      .siema {
        margin: auto;
      }
    }
  }
}

.section-how,
.section-easy {
  padding-bottom: 20rem;
  background-color: $purple-background;

  &__subheading {
    margin: -0.1rem;
  }

  &__heading {
    margin-top: 2rem;
    margin-bottom: 4.8rem;
  }

  &__step {
    position: relative;
    font-size: 3.6rem;
    font-weight: 500;
    color: $purple-color;

    p {
      font-size: 2rem;
    }

    &:after {
      position: absolute;
      top: -1.5rem;
      left: 0;
      width: 6rem;
      height: 6rem;
      border: 3px solid transparent;
      border-radius: 50%;
      content: '';
    }

    &--1:after {
      border-right-color: #d3d4f7;
      transform: rotate(-45deg);
    }

    &--2:after {
      border-right-color: #d3d4f7;
      border-bottom-color: #d3d4f7;
      transform: rotate(-45deg);
    }

    &--3:after {
      border-right-color: #d3d4f7;
      border-bottom-color: #d3d4f7;
      border-left-color: #d3d4f7;
      transform: rotate(-45deg);
    }

    &--4:after {
      border-color: #d3d4f7;
    }
  }
}

.section-organizations {
  padding: 9rem 0;

  &__preheading {
    margin-top: 10rem;
    margin-bottom: 0;
  }

  &__heading {
    margin-top: 1.4rem;
    margin-bottom: 4rem;
  }

  &__subheading {
    max-width: 66rem;
    line-height: 2.4rem;
  }

  &__list {
    margin-top: 10rem;
    padding-left: 3.7rem;
    list-style-type: none;

    li {
      position: relative;
      margin-bottom: 2.8rem;
      font-size: 1.8rem;
      line-height: 140%;

      &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -4.2rem;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $dark-purple-color;
        content: '';
      }
    }
  }

  &__slider {
    position: relative;
    top: 6rem;
    display: flex;
    flex-direction: column;

    .siema {
      margin: auto 0 auto auto;
    }

    .siema-dots {
      width: 42.5rem;
      max-width: 100%;

      .dots__item {
        padding: 0;
        margin: 0.7rem;
        width: 0.9rem;
        height: 0.94rem;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #3d419a;
        transition: all 0.2s linear;
        outline: none;
        cursor: pointer;

        &--active {
          background-color: #3d419a;
        }
      }
    }
  }
}

.section-easy {
  padding-bottom: 10rem;
  background-color: transparent;

  &__step {
    color: #3d419a;
  }
}

.section-partners {
  padding: 7rem 0;
  background: linear-gradient(0deg, #f4f5ff, #f4f5ff);

  .heading {
    margin: 0;
    margin-bottom: 3.2rem;
  }

  &__logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    img {
      margin-bottom: 1.5rem;
      width: 16.7rem;
      height: auto;
    }
  }

  @include respond(phone) {
    &__logos {
      justify-content: center;

      img {
        margin-right: 1rem;
        width: 13.7rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.section-contact {
  padding: 5rem 0;
  background-color: #eeeffd;

  &__left {
    max-width: 54.5rem;
  }

  &__heading {
    margin: 0;
    margin-bottom: 0.6rem;
    font-weight: 500;
    text-align: center;
  }

  &__text {
    margin-top: 0;
    line-height: 2.5rem;
    color: #73708f;
  }

  .form__success {
    text-align: center;
    margin: 0 auto;

    .btn {
      display: block;
      margin: 0 auto;
      width: 22rem;
      background: #3d419a;
      border-radius: 8px;
      box-shadow: none;
      color: #fff;
    }
  }

  @include respond(tab-port) {
    &__left {
      max-width: 80rem;
      margin: 0 auto;
    }

    .form {
      margin: 0 auto;
    }
  }
}
