/// Regular font family
$text-font-stack: 'Roboto', 'Open Sans', 'Helvetica Neue Light',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

$text-color: #05012f !default;
$dark-purple-color: #3d419a !default;
$purple-color: #9ba2ff !default;
$light-purple-color: #999bc8 !default;

$purple-background: #1e1864 !default;
$light-purple-background: #eeeffd !default;

/// Container's maximum width
$max-width: 120rem !default;
