.footer {
  padding: 7rem 0 3rem;
  background: #161337;

  p,
  a {
    color: #fff !important;
  }

  a {
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  &__slogan {
    margin-top: 0;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;

    a {
      text-decoration: none;
      margin-left: 4.8rem;
      font-size: 1.6rem;
    }
  }

  .company-name {
    margin-top: 5.3rem;
    font-size: 1.8rem;
    font-weight: 500;
  }

  .company-address {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }

  .company-link {
    margin: 0;
    margin-bottom: -1rem;

    a {
      font-size: 1.6rem;
      text-decoration: none;
    }
  }

  .container {
    position: relative;

    .col-xs-12 {
      padding: 0;
    }

    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 13rem;
      height: 16rem;
      background: url('../public/bg/bg-footer.png');
      background-size: contain;
      content: '';
    }
  }
}
