.header {
  position: absolute;
  width: 100vw;
  padding-top: 7rem;
  font-size: 1.7rem;

  &__nav {
    display: flex;
    align-items: center;
    max-width: 44rem;
    margin-left: auto;

    a {
      position: relative;
      margin-right: 3rem;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
    }

    a:after {
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 2px;
      background-color: #fff;
      transition: width 0.2s linear;
      content: '';
    }

    a:hover:after {
      width: 100%;
    }

    &--mobile {
      display: none;
      width: 100vw !important;
      max-width: 100vw !important;
      margin: 0 !important;
      height: auto;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: radial-gradient(
        1212.67px at 12.8% -49.02%,
        #2b237c 0%,
        #251c72 31%,
        #0f054c 100%
      );
      z-index: 1;

      // Icon
      .header__menu {
        margin-left: auto;
        margin-right: 1rem;
      }

      .header__nav {
        max-width: 100%;
        height: 6.2rem;
        padding: 0 1rem;
        border-bottom: 3px solid #fff;
      }

      .header__nav__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 0;
        font-size: 2rem;
        background: radial-gradient(
          1212.67px at 12.8% -49.02%,
          #2b237c 0%,
          #251c72 31%,
          #0f054c 100%
        );

        a {
          display: block;
          width: 100%;
          text-align: center;
          visibility: hidden;

          &:hover:after {
            display: none;
          }
        }

        &--visible {
          height: 22rem;
          border-bottom: 3px solid #fff;
          visibility: visible;
          animation: fadeIn 0.4s both;

          a {
            visibility: visible;
          }
        }
      }

      @include respond('tab-port') {
        display: block;
      }
    }

    &--desktop {
      @include respond('tab-port') {
        display: none;
      }
    }
  }

  &__menu {
    max-width: 3.75rem;
    cursor: pointer;
  }
}
