extends layout.pug
include mixins

block content
  section.section-hero
    .row.container
      .section-hero__text.col-xs-12.col-sm-6.col-md-4
        p.section-hero__preheading.small.light-purple
          |Trusted cross-border consumer KYC and private data sharing
        h1.section-hero__heading.white TrustmyID
        p.section-hero__subheading.white Bringing efficiency and trust into borderless personal data sharing between consumers, banks and governments
        a.btn(href="#get") Get in touch
      .col-xs-12.col-sm-6.col-md-8
        img.section-hero__image(src="./public/bg/bg-hero.png" alt='Bringing efficiency and trust into borderless personal data sharing between consumers, banks and governments')

  section.section-introduction.container#introduction
    h2.section-heading.heading.heading--small Introduction
    .row
      .section-introduction__text.col-xs-12.col-sm-6.col-md-7
        p.medium.italic About
        p.heading Teach your data to speak a local language in any country you go 
        p
          |TrustmyID enables consumers to easily access and aggregate digitally
          |available personal data from any source with full privacy and security - 
          |from local IDs and social media profiles to banking transactions, credit
          |history and apartment rentals - leveraging data from all countries of residence 
          |for further consent-based sharing with organizations.
        p
          |TrustmyID allows financial and governmental organizations to reliably identify
          |and profile foreigners in near real-time. We make onboarding and risk assessment 
          |simple and quick.        
      .col-xs-12.col-sm-6.col-md-5      
        img.section-introduction__image(src="./public/bg/bg-introduction.png", alt="Teach your data to speak a local language in any country you go")

  section.section-problem
    .container
      p.medium.italic Problem
      p.heading 
        |No convenient and trustworthy way to migrate your data with you. 
        |Credit history, utility payments, local identity data - all locked within a certain geography. 
      .row
        .section-problem__feature.col-xs-12.col-sm-6.col-md-4
          p 
            |Organizations need to have a holistic view of their customers.
            |But various services, stages of onboarding, geographies and regulations 
            |demand different types of data and different levels of assurance, while 
            |migrants have limited identity footprint.
        .section-problem__feature.col-xs-12.col-sm-6.col-md-4
          p 
            |Most credit systems rely almost entirely on historical debt repayment
            |information and therefore cannot easily accommodate migrants, younger 
            |people and underbanked population, who all have limited traditional data 
            |footprint.           
        .section-problem__feature.col-xs-12.col-sm-6.col-md-4
          p 
            |Every new country of residence means that a person has to build up 
            |credibility with banks, governments and other organizations from scratch, 
            |making customer on-boarding and risk assessment process even more 
            |complicated for all parties involved. 

  section.section-solution.container
    .row
      .section-solution__text.col-xs-12.col-sm-6
        p.medium.italic Solution
        p.heading Trusted data at your fingerprints
        p 
          |TrustmyID employs people-centric product design to serve the needs 
          |of financial institutions for customer identification, verification 
          |and intelligence. It collects information on consumers in accordance with 
          |country-specific regulations.
        p
          |TrustmyID provides a pool of personal data from any source around the globe
          |with full privacy and security - from local IDs and social media profiles, 
          |to banking transactions and credit history, to telephone records and apartment 
          |rentals.

      .col-xs-12.col-sm-6
        img.section-solution__image(src="./public/bg/bg-solution.png", alt="")

  section.section-cases.container
    p.section-heading.heading Use Cases
    .row
      .col-xs-12.col-sm-6.col-md-4
        .section-cases__feature.section-cases__feature--first
          img.section-cases__icon(src="./public/icons/banking.svg", alt="Opening banking account")
          p.heading.white Opening banking account
          p.white 
            |Collect and share relevant trusted identity information 
            |from residencies of interest in just a few clicks
      .col-xs-12.col-sm-6.col-md-4
        .section-cases__feature
          img.section-cases__icon(src="./public/icons/utilities.svg", alt="Opening utilities account")
          p.heading.white Opening utilities account
          p.white 
            |Collect and share “credit” history and other required data
            |from previous residencies in just a few clicks
      .col-xs-12.col-sm-6.col-md-4
        .section-cases__feature.section-cases__feature--last
          img.section-cases__icon(src="./public/icons/loan.svg", alt="Applying for loan")
          p.heading.white Applying for loan
          p.white 
            |Easily consolidated and share “global” credit history
            |and non-traditional data required for credit decisioning
      .col-xs-12.col-sm-6.col-md-4
        .section-cases__feature.section-cases__feature--first
          img.section-cases__icon(src="./public/icons/visa.svg", alt="Applying for visa")
          p.heading.white Applying for visa
          p.white 
            |Submit visa applications and other required trusted
            |data points to consulates in just a few clicks
      .col-xs-12.col-sm-6.col-md-4
        .section-cases__feature
          img.section-cases__icon(src="./public/icons/postpaid.svg", alt="Appying for postpaid services")
          p.heading.white Appying for postpaid services
          p.white 
            |Collect and share “credit” history and other required data
            |from previous residencies in just a few clicks
      .col-xs-12.col-sm-6.col-md-4
        .section-cases__feature.section-cases__feature--last
          img.section-cases__icon(src="./public/icons/job.svg", alt="Applying for a job")
          p.heading.white Applying for a job
          p.white 
            |Collect and share relevant trusted data required for vetting,
            | like existing debts in residencies of interest

  section.section-individuals#individuals
    .container
      h2.section-heading.heading.heading--small.white Individuals 
      .row
        .section-individuals__text.col-xs-12.col-sm-6.col-md-8
          p.medium.italic.white Benefits
          p.heading.white You are in control
          p.white
            |TrustmyID is a mobile app that uses blockchain technology to securely and privately
            |share your personal information with the service providers you authorize through the app. 
            |Our model is people-centric and based on consumer consent. Only the information that is requested 
            |for each unique transaction is shared, and only with your consent. We use cutting-edge security tech, 
            |including homomorphic encryption, to guarantee your data safety. 
          .section-individuals__features.row
            .col-xs-12.col-md-6
              img(src="./public/icons/info.svg", alt="Information")
              p.white 
                |Provide full set of information required by banks,
                |like your ID documents, address and previous income statements 
                |in any country, with just 3 clicks
            .col-xs-12.col-md-6
              img(src="./public/icons/time.svg", alt="Time")
              p.white 
                |Save time by verifying your identity once and reusing it in any country
        .section-individuals__slider.col-xs-12.col-sm-6.col-md-4
          +slider('iphone')
  
  section.section-how
    .container
      p.section-how__subheading.italic.white How to use 
      p.section-how__heading.heading.white Easy steps to unlock your global data
      .section-how__steps.row
        .col-xs-12.col-sm-6.row
          p.section-how__step.section-how__step--1.col-xs-2 01
          p.white.col-xs-7
            |Download the application
        .col-xs-12.col-sm-6.row
          p.section-how__step.section-how__step--2.col-xs-2 02
          p.white.col-xs-7
            |Create your digital identity account
        .col-xs-12.col-sm-6.row
          p.section-how__step.section-how__step--3.col-xs-2 03
          p.white.col-xs-7
            |Provide relevant information and authorizations 
            |for data collection from sources like your bank, 
            |that already have personal information about you
        .col-xs-12.col-sm-6.row
          p.section-how__step.section-how__step--4.col-xs-2 04
          p.white.col-xs-7
            |Review and confirm your digital profile 
        
  section.section-organizations#organizations
    .container
      h2.section-heading.heading.heading--small Organizations  
      p.section-organizations__preheading.italic Benefits
      p.section-organizations__heading.heading Trusted and transparent
      p.section-organizations__subheading
        |TrustmyID enables organizations to serve the ever-growing population 
        |of nomad generations in a most efficient and fastest way. 
      .row
        .col-xs-12.col-md-4
          ul.section-organizations__list
            li Access trusted identity data from any country in the world in your language
            li Get a full view on customers global credit history and all digitally available existing obligations
            li Access to additional data points improving KYC, Fraud prevention and credit risk assessment
            li Get latest trusted data in real-time
            li Serve your clients gloablly with same quality level
        .section-organizations__slider.col-xs-12.col-md-8
          +slider('mac')

  section.section-easy
    .container
      p.section-easy__subheading How to use 
      p.section-easy__heading.heading Easy steps to get access to all relevant data of your customers
      .section-easy__steps.row
        .col-xs-12.col-sm-6.row
          p.section-easy__step.section-easy__step--1.col-xs-2 01
          p.col-xs-8
            |Connect to the platform through APIs or just log in to use our web interface 
        .col-xs-12.col-sm-6.row
          p.section-easy__step.section-easy__step--2.col-xs-2 02
          p.col-xs-8
            |Invite your customers to share information with you or use existing authorizations 
        .col-xs-12.col-sm-6.row
          p.section-easy__step.section-easy__step--3.col-xs-2 03
          p.col-xs-
            |View and use shared information
        .col-xs-12.col-sm-6.row
          p.section-easy__step.section-easy__step--4.col-xs-2 04
          p.col-xs-8
            |Easily remove information that you are no longer allowed to store 
            |- in full compliance with PDP legislation like GDPR

  //section.section-partners
    .container
      p.section-heading.heading.heading--small Our partners
      .section-partners__logos
        img(src="./public/companies/company-logo.png", alt="Company logo")
        img(src="./public/companies/company-logo.png", alt="Company logo")
        img(src="./public/companies/company-logo.png", alt="Company logo")
        img(src="./public/companies/company-logo.png", alt="Company logo")
        img(src="./public/companies/company-logo.png", alt="Company logo") 

  section.section-contact#get
    .row.container
      .col-xs-12.col-md-7.col-md-offset-1
        .section-contact__left
          p.section-contact__heading.section-heading.heading Get in touch
          p.section-contact__text
            |TrustmyID is in closed beta now. If you are interested in joining or
            |would like get notified on officiall launch, please leave your e-mail and we will
            |get back to you soon.
      .col-xs-12.col-md-4
        +form()

      