doctype html
html(lang='en')
  head
    title TrustmyID - Trusted cross-border consumer KYC and private data sharing
    meta(name='description', content='Bringing efficiency and trust into borderless personal data sharing between consumers, banks and governments')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,600', rel='stylesheet')
  body
    header.header
      .container
        nav.header__nav.header__nav--desktop
          a(href="#introduction") Introduction
          a(href="#individuals") Individuals
          a(href="#organizations") Organizations
          a(href='#contacts') Contacts
        nav.header__nav.header__nav--mobile
          .header__nav
            img.header__menu(src="./public/icons/menu.svg", alt="")
          .header__nav__content 
            a(href="#introduction") Introduction
            a(href="#individuals") Individuals
            a(href="#organizations") Organizations
            a(href='#contacts') Contacts
    main
      block content
    footer.footer#contacts
      .container.row
        .col-xs-12.col-sm-6.col-md-6
          p.footer__slogan.heading.heading--small.white Empowering people to manage their data beyond traditional boundaries 
          p.heading.heading--small.white.company-name My Trusted ID Limited
          .row
            .col-xs-12.col-sm-6
              p.company-address
                |Room 409, Beverley 
                br
                |Commercial Center, 87-105 
                br
                |Chatham Road South, Tsim 
                br
                |Sha Tsui, Kowloon, Hong Kong
            .col-xs-12.col-sm-6
              p.company-link
                a(href="tel:+658311818") Tel +65 83113818
              p.company-link
                a(href="mailto:aa@trustmy.id") team@trustmy.id
        .col-xs-12.col-sm-6.col-md-4.col-md-offset-2
          nav.footer__nav
            a(href="#faq")  FAQ
            a(href="#careers") Careers
            a(href="#team") Our team