mixin slider(type)
  if type === 'iphone'
    .siema.siema--iphone
      .slide.slide--1
      .slide.slide--2
      .slide.slide--3
  else if type === 'mac'
    .siema.siema--mac
      .slide.slide--1
      .slide.slide--2


mixin form()
  form.form#form(action="https://script.google.com/macros/s/AKfycby1TnB427F6SdaDVcV1gzlLOCvVAEiO7FNUCyGDY6IiCepSBoWR/exec" method="POST")&attributes(attributes)
    p.form__heading.heading.heading--small E-mail
    .row
      input.form__input(type="email", name="Email", placeholder="Type your address here")
      input.form__btn(type="submit", value="OK")